@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(0 ,0,0,0.2),
     rgba(0,0,0,0.2)), 
     url('https://images.unsplash.com/photo-1710555331394-6f096f01f213?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D    ');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: #555;
}
::-webkit-scrollbar-thumb{
    background: #121212;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background: #242424;
}